<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">

        <body>
            <h1>{{title}} page</h1>
            {{>header}}
            <img src = "/img/robot.png">
        </body>
    </head>
</html>